/* line 1, ../sass/login.scss */
html,
body {
  min-height: 100%;
}

/* line 6, ../sass/login.scss */
.login-class {
  position: absolute;
  min-height: 100%;
  width: 100%;
  background-image: url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 16, ../sass/login.scss */
.login-class .brand-logo {
  width: 100%;
}

/* line 21, ../sass/login.scss */
.login-class .brand-logo > img {
  width: 100px;
  height: 100%;
  opacity: 1;
}

/* line 27, ../sass/login.scss */
span#info {
  color: red;
  text-align: center;
}

/* line 33, ../sass/login.scss */
.login-class .login-form .row {
  padding: 0px;
  margin: 0px;
}
