/* line 1, ../sass/signup.scss */
.signup-class {
  position: absolute;
  min-height: 100%;
  width: 100%;
  background-image: url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 10, ../sass/signup.scss */
.signup-class .brand-logo {
  width: 100%;
}

/* line 15, ../sass/signup.scss */
.signup-class .brand-logo > img {
  width: 100px;
  height: 100%;
  opacity: 1;
}

/* line 22, ../sass/signup.scss */
.signup-class .signup-form .row {
  padding: 0px;
  margin: 0px;
}
