html,
body {
    min-height: 100%;
}

.login-class {
    position: absolute;
    min-height: 100%;
    width: 100%;
    background-image: url('../images/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.login-class .brand-logo {
    width: 100%;
}


.login-class .brand-logo>img {
    width: 100px;
    height: 100%;
    opacity: 1;
}

span#info {
    color: red;
    text-align: center;
}

//Login-class form
.login-class .login-form .row {
    padding: 0px;
    margin: 0px;
    //    margin: 0px;
}