@import './modules/_variables';
@import './universal/_universal';
#navbar {
    background-color: #ffffff;
    transition: all 0.4s ease-out;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

nav .logo-container {
    width: 100px;
}

.brand-logo {
    display: inline-block;
}

nav .brand-logo img {
    vertical-align: middle;
    width: 100%;
}

#navbar.scroll {
    background-color: $primary-color;
}

#navbar.scroll .btn {
    background-color: #ffffff;
    color: #000000;
}

#navbar.scroll * {
    color: #ffffff;
}

#nav-mobile span {
    color: black;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: white;
}

.parallax-container {
    min-height: 500px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
    margin-top: 8%;
}

.parallax {
    width: 100%;
}

.parallax img {
    width: 0%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
    .parallax img {
        width: 200%;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.material-icons {
    color: #444;
}

.intro-section {
    padding: 50px 0;
    background-color: #eee;
    
}

.companies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.partners {
    box-sizing: inherit;
}

.companies img {
    display: inline;
    padding: 15px;
    width: 13%;
}

.test-demo .card-panel {
    border-top: 9px solid #4DB6AC;
    position: relative;
    margin: 1em;
}

.test-demo .card-panel:first-child:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, $primary-color, #4DB6AC);
    top: -10px;
    left: 0;
}

.test-demo .card-info {
    background: #ffffff;
    font-size: 1.2em;
}

footer.page-footer {
    margin: 0;
}

footer .brand-logo {
    width: 100px;
}


